<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Archipelobby</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <div th:replace="~{layout :: user-bar}"></div>
</header>
<main>
    <h1>Welcome to Archipelobby</h1>
    <ul>
        <li><a href="/rooms">Rooms</a></li>
    </ul>
    <p><a th:href="@{/help}">📚 Help & Setup Guide</a> | <a href="https://archipelago.gg/" target="_blank">🌐 Archipelago
        Official Site</a></p>
</main>
</body>
</html>
